$background-color: #878ba63e;
$btn-background-color: #6f77a5;
$btn-color: #ffffff;
$btn-hover-color: #53597c;
$title-color: #454a67;
$main-color: #ffffff;
$border-color: #a7a7a7ce;
$border-background-color: #53597a56;
$modal-color: #00000066;
$text-title-color: #53597a;
$text-color: #656565;
